
.contenedor{

    padding-top: 140px;
    background-color: white;
    text-align: center;
    color: black;
    padding-bottom: 3rem;
    font-size: large;
    

}

.contador{

    padding-top: 140px;
    background-color: white;
    text-align: center;
    color: black;
    padding-bottom: 3rem;
    font-size: large;

}